@model MaFormaPlusCoreMVC.Models.Module

@{
    ViewData["Title"] = "Delete";
}

<h4>Suppression module</h4>
<h5>Etes vous sure de vouloir supprimer ce module?</h5>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dd class="col-sm-10">
            <div class="d-flex flex-column">
                <figure class="item-card-nohover m-0">
                    <img src="@Model.Logo" class="item-card-img image-card" />
                    <figcaption style="padding: 10px;">
                        <div class="">Apercu du logo</div>
                    </figcaption>
                </figure>
            </div>
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Accueil</a>
    </form>
</div>
