@model List<MaFormaPlusCoreMVC.Models.SessionParcours>
@{
    ViewData["Title"] = "Home Page";
}

@*title*@
<h2 class="text-center pb-5">
    Bienvenue sur <span class="logo-title" style="font-size: 40px"> MaFormationPlus</span>
</h2>
<h4 class="text-center">Prochaines sessions</h4>
@*home slide view*@
<div class="d-flex justify-content-center align-items-center mx-auto slide-block" style="max-width: 1070px;">
    <span class="material-icons chevron left">chevron_left</span>
    <div class="items">
        @foreach (SessionParcours sessionParcours in Model)
        {
            <figure class="item-card-nohover">
                <img src="@sessionParcours.Parcours.Logo" class="item-card-img" />
                <figcaption style="padding: 10px;">
                    <div class="h6">Session @sessionParcours.Session.Libelle</div>
                    <div class="d-flex align-items-center">
                        <div class="" style=" font-size: 14px; margin-right: 10px">Du @sessionParcours.Session.Debut<br />au @sessionParcours.Session.Fin</div>
                        <a asp-controller="Sessions" asp-action="Edit" asp-route-id=@sessionParcours.Session.Id class="btn-style text-center" style="display: inline; text-decoration: unset;">S'inscrire</a>
                    </div>
                </figcaption>
            </figure>
        }
    </div>
    <span class="material-icons chevron right">chevron_right</span>
</div>

@*carrer list*@
<h4 class="">Toutes les sessions</h4>
<hr />
@*carrer-block*@
<div class="row d-flex justify-content-center my-5 g-0 carrer-block">
    @if (Model.Count() > 0)
    {

        @foreach (SessionParcours sessionParcours in @Model)
        {
            <div class="col-12 col-md-6 col-lg-4 col-xl-3  d-flex justify-content-center">
                <a asp-controller="Sessions" asp-action="Details" asp-route-id=@sessionParcours.Session.Id title="voir les détails de la session" style="text-decoration: unset; color:black; ">
                    <figure class="item-card" style="cursor: pointer">
                        <img src=@sessionParcours.Parcours.Logo class="item-card-img" />
                        <figcaption style="padding: 10px;">
                            <div class="h6 font-weight-bold">Session @sessionParcours.Session.Libelle</div>
                            <div class="d-flex align-items-center">
                                <div class="" style=" font-size: 14px; margin-right: 10px">Du @sessionParcours.Session.Debut<br />au @sessionParcours.Session.Fin</div>
                                <a asp-controller="Sessions" asp-action="Edit" asp-route-id=@sessionParcours.Session.Id class="btn-style text-center" style="display: inline; text-decoration: unset;">S'inscrire</a>
                            </div>
                        </figcaption>
                    </figure>
                </a>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col">
                <p class="text-center h6">
                    Aucune session disponible
                </p>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script defer src="~/js/index.js"></script>
}



