@model MaFormaPlusCoreMVC.Models.Session

@{
    ViewData["Title"] = "Delete";
}

<h4>Suppression session</h4>
<h5>Etes vous sure de vouloir supprimer cette session?</h5>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Libelle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Libelle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Debut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Debut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fin)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Accueil</a>
    </form>
</div>
