@model MaFormaPlusCoreMVC.Models.ParcoursModule

@{
    ViewData["Title"] = "Details";
}

<h4>Details parcours</h4>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="my-4">
                <a asp-action="Edit" asp-route-id="@Model.Parcours.Id" class="btn-style d-inline">Modifier</a>
                <a asp-controller="Home" asp-action="Index" class="btn-style d-inline">Accueil</a>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col d-flex flex-grow-0 my-3 mb-5">
        <a asp-action="Edit" asp-route-id="@Model.Parcours.Id" style="color: black;" >
            <figure class="item-card d-inline-block m-0">
                <img src=@Model.Parcours.Logo class="item-card-img" />
                <figcaption style="padding: 10px;">
                    <div class="h6 font-weight-bold">@Model.Parcours.Nom</div>
                    <div class="d-flex align-items-center">
                    </div>
                </figcaption>
            </figure>
        </a>
        </div>
        <div class="col my-3">
            <dl class="row " style=" margin-left: 15px;">
                <dt class="col-sm-2">
                    Nom
                </dt>
                <dd class="col-sm-10">
                    @Model.Parcours.Nom
                </dd>
                <dt class="col-sm-2">
                    Résumé
                </dt>
                <dd class="col-sm-10">
                    @Model.Parcours.Resume
                </dd>
            </dl>
        </div>
    </div>
</div>

<h4>Module(s) associé(s)</h4>
<hr />
<div>
    <div class="container">
        <div class="row">
            @if (Model.Modules.Count() > 0)
            {
                foreach (Module module in Model.Modules)
                {
                    <div class="col d-flex flex-grow-0">
                        <a asp-controller="Modules" asp-action="Details" asp-route-id=@module.Id style="text-decoration: unset; color:black; ">
                            <figure class="item-card d-inline-block m-0" style="cursor: pointer">
                                <img src=@module.Logo class="item-card-img" />
                                <figcaption style="padding: 10px;">
                                    <div class="h6 font-weight-bold">@module.Nom</div>
                                    <div class="d-flex align-items-center">
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col">
                        <dl class="row " style=" margin-left: 15px;">
                            <dt class="col-sm-2">
                                Nom
                            </dt>
                            <dd class="col-sm-10">
                                @module.Nom
                            </dd>
                            <dt class="col-sm-2">
                                Résumé
                            </dt>
                            <dd class="col-sm-10">
                                @module.Resume
                            </dd>
                            <dt class="col-sm-2">
                                Info
                            </dt>
                            <dd class="col-sm-10">
                                @module.Info
                            </dd>
                            <dd class="col-sm-10">
                                <a asp-action="Delier" asp-route-id=@module.Id class="btn btn-danger">Delier le module</a>
                            </dd>
                        </dl>
                    </div>
                }
            }
            else
            {
                <div class="col">
                    <p class="text-center h6">
                        Ce parcours ne contient aucun module associé
                    </p>
                </div>
            }
        </div>
    </div>
</div>
