@model MaFormaPlusCoreMVC.Models.Parcours

@{
    ViewData["Title"] = "Details";
}

<h4>Details parcours</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            <img src=@Model.Logo width="70" height="70" class="mt-4" style="border-radius: 15px; object-fit: cover;" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn-style">Modifier</a>
    <a asp-controller="Home" asp-action="Index" class="btn-style">Retour accueil</a>
</div>
